[Unit]
Description=AssistantIA Domotique
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/assistantia-domotique
ExecStart=/usr/bin/python3 assistant.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
